{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": false
}